
body {
  font-family: 'Montserrat', sans-serif;
  margin : 0;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  color: #171717;
}

.home-left, .about-left, .portfolio-left {
  font-family: 'Overpass Mono', monospace;
  position: relative;
  background: #262626;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 97vh;
  float: left;
}

.home-left { background-image: url('./transistor-opacity.png'); }
.about-left { background-image: url('./tatami-opacity2.png'); }
.portfolio-left { background-image: url('kiss-opacity3.png'); }

.home-right, .about-right, .portfolio-right {
  position: relative;
  width: 60%;
  height: 97vh;
  float: right;
  background: #FFFFFF;
}

.clear { clear: both; }

.menu {
  text-align: right;
  height: 90px;
  width: 100%;
/*  background: #B6F1FF; */
}

.menu a {
  font-size: 1em;
  display: inline-block;
}

.menu-link {
  color: #FFFFFF;
  margin-right: 10%;
  padding-top: 35px;
  text-decoration: none;
}

.menu-link:hover {
  color: #E5E5E5;
}

.menu-link--active {
  color: #FF8803;
}

.home-left h1, .about-left h1, .portfolio-left h1{
  font-size: 1.5em;
  position: absolute;
  top: calc(40% - 32px);
  text-align: center;
  width: 100%;
  color: #FFFFFF;
}

.home-p {
  position: absolute;
  font-size: 2em;
  font-weight: 300;
  top: calc(20% - 16px);
  text-align: center;
  width: 100%;
  color: #171717;
}

.home-h1 {
  font-family: 'Overpass Mono', monospace;
  font-size: 1.225em;
  /*position: absolute;
  top: calc(15% - 16px);*/
  text-align: center;
  width: 100%;
  color: #FF8803;
}

.home-right-link {
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  width: 100%;
  color: #262626;
}

.home-right-link:hover, .about-link:hover, .portfolio-link:hover { color: #575757; }

.about-right { overflow-y: scroll; }

.about-h1 {
  font-family: 'Overpass Mono', monospace;
  font-size: 2.875em;
  position: absolute;
  top: calc(10% - 16px);
  text-align: center;
  width: 100%;
  color: #FF8803;
}

.about-text {
  position: absolute;
  top: 20%;
  padding-left: 80px;
  padding-right: 20px;
  width: auto;
  font-family: 'Montserrat', sans-serif;
}

.about-text h2 {
  font-family: 'Overpass Mono', monospace;
  font-size: 1.5em;
  color: #FF8803;
  margin-top: 40px;
}

.about-text h3 {
  font-family: 'Overpass Mono', monospace;
  margin-top: 30px;
  margin-bottom: 0;
}

.about-text span { font-weight: 300; }
.about-text p { margin-top: 3px; }
.about-span { font-size: 0.8em; }

.about-ul, .about-li {
  margin-top: 5px;
  list-style-type: none;
}

.li-space {
  margin: 0 0 8px 0;
}

.about-link:visited {
  color: #FF8803;
}

.download-button {
  font-family: 'Overpass Mono', monospace;
  text-decoration: none;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1.5em;
  font-weight: 300;
  margin: 40px 20px 40px 20px;
  padding: 10px;
  position: absolute;
  width: 70%;
  text-align: center;
  color: #262626;
  transition: 0.8s;
}

.download-button:hover {
  color: #FF8803;
}

.portfolio-link, .about-link {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #171717;
}

.suspense {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

footer {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  width: 40%;
  height: 2vh;
  background: #E5E5E5;
  float: left;
}

footer span { padding: 0 10px; }



@media (max-width: 600px) {
  
  .home-left, .about-left, .portfolio-left {
    position: relative;
    width: 100%;
    height: 23vh;
  }

  .home-right, .about-right, .portfolio-right {
    position: relative;
    width: 100%;
    height: 77vh;
  }
  
  .home-left h1, .about-left h1, .portfolio-left h1{
    font-size: 1.225em;
    top: 40%;
  }
  
  .menu {
    text-align: center;
  }

  .menu a {
    font-size: 1em;
    padding-top: 5%;
    margin: 0 5%;
    display: inline-block;
  }
  
  .home-h1 {
    top: calc(15% - 16px);
  }
  
  .home-p {
    font-size: 1.75em;
    top: calc(10% - 16px);
  }
  
  .about-h1 {
    font-size: 2em;
    top: calc(5% - 16px);
  }
  
  .about-text {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .home-left, .about-left, .portfolio-left, .home-right, .about-right, .portfolio-right, footer {
    float: none;
  }
  
  .download-button {
    font-size: 1.2em;
  }
  
  footer {
    width: 100%;
    font-size: 0.6em;
  }
  
}